
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var homeActive = ViewBag.Title == "Home" ? "active" : "";
    var aboutIsActive = ViewBag.Title == "About Us" ? "active" : "";
    var contactIsActive = ViewBag.Title == "Contact Us" ? "active" : "";
    var createIsActive = ViewBag.Title == "Create" ? "active" : "";
    var alphabet = new List<string> { "A", "B", "C" ,"D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"};

}

<!DOCTYPE html>
<html>
<head>
    <title>
        @ViewBag.Title
    </title>
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/app.css"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" asp-controller="Movies" asp-action="Overview">My Movies</a>
        @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>*@
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item  @homeActive">
                    <a class="nav-link" asp-controller="Movies" asp-action="Overview">Home</a>
                </li>
                <li class="nav-item @aboutIsActive">
                    <a class="nav-link" asp-controller="Info" asp-action="AboutUs">About Us</a>
                </li>
                <li class="nav-item @contactIsActive">
                    <a class="nav-link" asp-controller="Info" asp-action="ContactUs">Contact Us</a>
                </li>
                <li class="nav-item @createIsActive">
                    <a class="nav-link" asp-controller="Movies" asp-action="Create">Create movie</a>
                </li>
            </ul>
        </div>

        <div class="row">
            <form class="form-inline my-2 my-lg-0" asp-controller="Movies" asp-action="Overview">
                <input name="Title" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-default my-2 my-sm-0" type="submit" style="margin-right:20px;">Search</button>
            </form>
        </div>
    </nav>
    <br />
    @*<div id="alphabetSearch" style="display:flex; justify-content:space-around;"><div asp-controller="Movies" asp-action="Overview"><a style="cursor:pointer;" asp-controller="Movies" asp-action="Overview" asp-route-title="A">A</a></div><a>B</a><a>C</a><a>D</a><a>E</a><a>F</a><a>G</a><a>H</a><a>I</a><a>J</a><a>K</a><a>L</a><a>M</a><a>N</a><a>O</a><a>P</a><a>Q</a><a>R</a><a>S</a><a>T</a><a>U</a><a>V</a><a>W</a><a>X</a><a>Y</a><a>Z</a></div>*@

    <div id="alphabetSearch"  >
        @foreach (var letter in alphabet)
	{
        <span> <a href="/Movies/Overview?title=@letter">@letter</a></span>
	}
    </div>

                <div class="container">
                    @RenderBody()
       
                </div>

   @* <script>
        function GetLetter(e)
        {
            var t = e.target;
            var value = e.innerText;
            return value;
        }
    </script>*@
</body>
</html>













